@import url("https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css"); /* Typography Prose */
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

.cursive {
  font-family: 'Bitter', cursive;
  font-weight: 400;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}